@import 'Mixins';

.welcomePage {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;

  .backGround {
    height: 500px;
    position: relative;
    box-shadow: 0px 1px 7px 1px rgba(35, 31, 32, .2);
    border-radius: 3em;
    background: linear-gradient(135deg, #E17B9B 0%, rgba(246,246,246,0.1) 47%, rgba(237,237,237,0.3) 100%);

    .welcomeContent {
      z-index: 10;
      position: relative;

      .welcomeImg{
        max-width: 500px;
      }

      .welcomeHeader {
        line-height: 1;
        font-weight: 800;
        font-size: 75px;
        color: #853E52;
        -webkit-text-stroke-width: 2.5px;
        -webkit-text-stroke-color: #BDA5AB;
      }
      
      .subHeader {
        font-size: 1em;
        font-weight: 300;
        line-height: 1;
        padding: .15em 0 .3em 0;
        margin: 0;
      }

      .signInForm{
        display: flex;
        flex-direction: row;
        height: 120px;
        justify-content: center;
        align-items: center;
      }
      
      .nameInput {
        border-radius: 20px 0 0 20px;
        height: 52px;
        width: 300px;
        border: 4px solid #6B3846;
        font-size: 20px;
      }

      .playAgain {
        height: 75px;
        width: 255px;
        border: none;
        border-radius: 1em;
        background-color: #6B3846;
        font-size: 20px;
        color: #D4BBB4;
        cursor: pointer;

        &:hover {
          opacity: .8;
        }
      }

      input:focus {
        outline: none;
      }

      .startGame {
        height: 62px;
        width: 125px;
        border: none;
        border-radius: 0 20px 20px 0;
        background-color: #6B3846;
        font-size: 20px;
        color: #D4BBB4;
        cursor: pointer;
      }
    }
  }
}